:root { 
    --button-width: 400px;
}


body { 
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    margin: 0;
    
}

body { 
    color: rgb(0, 0, 0); 
}

#navbar { 
    position: fixed;
    top: 0%;
    background-color: lightgreen;
    width: 100vw;
    height: 3rem;
    z-index: 1;
}

#navbar > nav {
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none; 
    list-style: none;
    gap: 20rem;

}

#navbar > nav > a { 
    text-decoration: none;
}

#navbar > nav > a:hover { 
    color: black;
}

#navbar > nav > a > li {
    margin-top: 10px;
    color: white;
    font-size: 1.5rem;
}

#heading {
    background-color: rgb(255, 255, 255);
    width: 25rem;
    position: absolute;
    top: 10rem;
    left: 20rem;
}

#heading > h1{
    text-align: center;
    color: lightgreen;
    font-size: 50px;
}

#heading > h1 > #sidetext { 
    font-style: italic;
    margin-top: 20px;
    display: block;
    font-size: 30px;
}

#food1, #food2, #food3 { 
    margin-top: 10rem;
    margin-left: 30rem;
}

#food1, #food2, #food3{ 
    width: 400px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100%;    

}

#food1 { 
    z-index: 2;
}

#food2 { 
    z-index: 3;
    margin-top: 2rem;
    margin-left: 2rem;
}



#calorieconverter-div > input, #convert-btn, select, #results-div { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#calorieconverter-div > input { 
    width: var(--button-width);
    height: 30px;
    font-size: 30px;
    text-align: center;
}

#calorieconverter-div > #convert-btn { 
    width: var(--button-width);
    height: 30px;
    font-size: 15px;
    
}

#calorieconverter-div > select { 
    width: var(--button-width);
    height: 30px;
    text-align: center;
}

#results-div { 
    font-size: 30px;
}