:root { 
    --button-width: 400px;
    --background-color: rgb(239, 247, 222);
    --h1textsize: 50px;
    --h1color: lightgreen; 
    --calorieh1: rgb(0, 0, 0); 
}


body { 
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}

body { 
    color: rgb(0, 0, 0); 
}

#navbar { 
    position: fixed;
    top: 0%;
    background-color: #4dc84d;
    width: 100%;
    height: 4.2rem;
    z-index: 1;
}

#navbar > nav {
    display: flex;
    text-align: center;
    justify-content: right;
    text-decoration: none; 
    list-style: none;
    gap: 10rem;
    padding-right: 5rem;

}

#navbar > nav > a { 
    text-decoration: none;
}


#navbar > nav > a > li {
    margin: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.68rem;
}



#heading {
    background-color: #4dc84d;
    color: white;
    font-size: 2em;
    margin: 0 auto; /*top right bottom left */
    margin-top: 20vh;
    padding: 2rem;
    width: 40vw;
    display: flex;
    border-radius: 100px;
}

#heading > h1 { 
    margin-top: 8rem;
}

#sidetext { 
    font-size: 1.75rem;
}

#food1 { 
    display: block;
    height: 40vh;
    width: 20vw;
    object-fit: cover;
    border-radius: 90%;
    margin-top: 2vh;
    
    
}

.calorietitle { 
    text-align: center;
    color: var(--calorieh1);
    font-size: 70px;
    width: auto;
    height: auto;
    margin-top: 10rem;
}

#firstitle { 
    margin-top: 35rem;
}

#calories { 
    margin-top: 0rem;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    width: 90vw;
    height: 60rem;
}

#calorietext { 
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}


#whatarecalories, #trackingcalories, #tipsforcalories { 
    text-align: center;
    font-size: 25px;
    word-spacing: 0.27rem;
    background-color: #4dc84d;
    border-radius: 40px;
    padding: 20px;
    width: 40vw;
    color: white;
    height: auto;
   
    
}


#whatarecalories > h1, #trackingcalories > h1, #tipsforcalories > h1 { 
    text-align: center;
    font-size: 50px;
    
}


#calorieconverter { 
    background-color: #4dc84d;
    margin: 10rem 20rem 20rem 20rem;
    height: 40rem;
    margin: 0 auto;
    width: 40rem;
    border-radius: 40px;

}


#calorieconverter > #calorieconverter-div > #calorie-form > h2 { 
    margin: 2rem auto;
    text-align: center;
    border-radius: 40px;
    color: white;
    height: 30px;
    width: 13rem;
}

#calorieconverter-div { 
    margin-top: 10rem;   
    margin-left: 20px;
}


#calorie-form { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#calorie-form > #selected, #convert-btn{
    margin: 1rem auto;
}



#calorieconverter-div > #calorie-form > input, #selected { 
    width: var(--button-width);
    border-radius: 40px;
    background-color: var(--background-color);
    border: 0px solid;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

#calorieconverter-div > select { 
    width: var(--button-width);
    height: 30px;
    text-align: center;
}


#calorieconverter-div > #convert-btn, #reset-btn { 
    width: var(--button-width);
    height: 30px;
    font-size: 20px;
    
}

#reset-btn { 
    width: calc(var(--button-width) - 20rem);
    border-radius: 40px;
    background-color: var(--background-color);
    border: 0px solid;
    float: right;
    margin-top: 2rem;
    margin-right: 30%;
    
    
} 

#results-div {
    font-size: 20px;
}

#whattoeat { 
    background-color: white;
    margin: 0 5rem;
    height: auto; 
    border-radius: 40px;
    text-align: center;
    font-size: 1.2rem;
    
}

#whattoeat > h1 { 
    background-color: var(--background-color);
    font-size: var(--h1textsize);
    color: var(--h1color);

}

#whattoeat > #outerfooddiv {
    display: grid;
    grid-template-rows: min-content; /*ensures that first line is even and doesnt overflow */
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
    grid-auto-flow: column;
    overflow-x: scroll;
    overscroll-behavior-inline: contain; /*if someone scrolls to the end, it wont pull the page or distort it */
    
}

#outerfooddiv { 
    border-radius: 40px;
}

#innerfooddiv { 
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 40px;
}

#innerfooddiv > p {
    font-size: 1.2rem;
}

#innerfooddiv > p { 
    padding: 5px;
    font-size: 1.2rem;
}

#whattoeat > #outerfooddiv > #innerfooddiv > img{ 
    
    padding: 1rem;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 40px;
}

#training { 
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    color: white;
    border: 2px solid;
    background-color: #4dc84d;
    border-radius: 40px;
    
}

#cardio, #weightlifting { 
    padding: 0 5rem 0 5rem;
    
}

@keyframes appear {

    from{
        opacity: 0;
        scale: 0.5;
    }
    to { 
        opacity: 1;
        scale: 1;
    }
    
}



#heading, #calories,  #whattoeat, .calorietitle, #training {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

#calorieconverter, #linkstohealthsites {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
}

#linkstohealthsites { 
    background-color: #ffffff;
    color:#4dc84d;
    margin: 5rem 5rem;
    display: flex;
    justify-content: space-around;
}

#linkstofood, #linkstolifts {
    text-align: center;
    width: 40%;
}