:root { 
    --button-width: 400px;
}

body { 
    background-color: rgb(255, 255, 255);
    
}

body { 
    color: rgb(0, 0, 0); 
}

#navbar { 
    position: fixed;
    top: 0%;
    
    background-color: lightgreen;
    width: 100vw;
    height: 3rem;
}

#navbar > nav {
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none; 
    list-style: none;
    gap: 20rem;

}

#navbar > nav > a { 
    text-decoration: none;
}

#navbar > nav > a:hover { 
    color: black;
}

#navbar > nav > a > li {
    margin-top: 10px;
    color: white;
    font-size: 1.5rem;
}

#heading {
    background-color: rgb(255, 255, 255);
    width: 25rem;
    position: absolute;
    top: 20rem;
    left: 20rem;
}

#heading > h1{
    text-align: center;
    color: lightgreen;
    font-size: 50px;
}

#heading > h1 > #sidetext { 
    font-style: italic;
    margin-top: 20px;
    display: block;
    font-size: 30px;
}

#main-div {
    position: absolute;
    top: 22rem;
    right: 20rem;
}

#main-div > #calorie-form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


#main-div > input, #convert-btn, select { 

    margin-top: 40px;
}

#calorie-form > input { 
    width: var(--button-width);
    height: 30px;
    font-size: 30px;
    text-align: center;
}

#calorie-form > #convert-btn { 
    width: var(--button-width);
    height: 30px;
    font-size: 15px;
    
}

#calorie-form > select { 
    width: var(--button-width);
    height: 30px;
    text-align: center;
}